@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,500&display=swap');
/*
    charcoal background: #2D333B
    black background: #22272E
    outlines: #444C56
    off white text: #CDD9E5
    light gray text: #ACB9C6
    orange underline: #EC775C
    blue repo name: #539BF5
    yellow JavaScript circle: #F1E05A
    redorange HTML circle: #E34C26
*/
:root {
    --charcoal-color: #2D333B;
    --black-color: #22272E;
    --outlines-color: #444C56;
    --off-color: #CDD9E5;
    --light-color: #ACB9C6;
    --orange-color: #EC775C;
    --blue-color: #539BF5;
    --yellow-color: #F1E05A;
    --red-orange-color: #E34C26;
}

/*GLOBAL*/

* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: var(--black-color);
    margin: 0;
    padding: 0;
    left: 0px;
    top: 0px;
}


/*HEADER*/
header {
    background: var(--charcoal-color);
    height: 50px;
    display: flex;
    padding-top: 20px;
    position: relative;
}

.logo {
    width: 30px;
    height: 30px;
    margin-left: 30px;
}

.form-search input {
    background: var(--black-color);
    border: solid var(--outlines-color) 1px;
    padding: 7px;
    border-radius: 5px;
    width: 200px;
    margin-left: 10px;
}

ul {
    list-style-type: none;
    margin-bottom: 30px;
    padding: 8px;
    overflow: hidden;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
}
  
li a:hover {
    font-weight: 900;
}

.settings {
    display: flex;
    right: 30px;
    position: absolute;
    padding: 10px;
}

.settings > div {
    margin-left: 15px;
    color: white;
    cursor: pointer;
}

#bell {
    width: 20px;
    height: 20px;
}

#photo {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

#photo span {
    margin-top: -50px;
}

.arrow {
    margin-right: 10px;
}

/*MAIN*/
.main {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    /* background: gray; */
    justify-content: center;
}

.tab-section {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 70px;
    color: var(--light-color);
    width: 50%;
    margin: 0 auto;
    z-index: 1;
}

.tab-section > div {
    /* background: rebeccapurple; */
    width: 100px;
    margin-bottom: -10px;
}

.underline {
    width: 100px;
    border-bottom: solid var(--red-orange-color) 3px;
}

.underline > p {
    text-align: center;
    padding: 10px;
}

.no-underline {
    width: 100px;
    border-bottom: solid var(--red-orange-color) 0px;
}

.no-underline > p {
    text-align: center;
    padding: 10px;
}

/*REPO NAV*/
hr {
    border: solid var(--charcoal-color) 0.7px;
}

/*CONTAINER*/
.container {
    width: 100%;
    display: flex;
    position: relative;
}


/*LEFT PROFILE*/
#profile {
    width: 25%;
    height: 300px;
    color: white;

}

.profile-photo {
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

.name {
    font-size: 25px;
    font-weight: bold;
    margin: 5px 0;
}

.tag {
    font-weight: 700;
}

.skills {
    font-size: 18px;
    margin: 20px 0;
}

.edit-profile {
    background: var(--charcoal-color);
    border: 0;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    border: solid var(--outlines-color) .5px;
}

.react {
    margin: 20px 0;
}

.location {
    margin: 5px 0;
}

.email {
    margin: 0;
}

/*RIGHT REPOS*/
#repo {
    width: 71%;
    /* background: red; */
    position: absolute;
    right: 0;
    margin-top: 40px;
}

.repo-head {
    display: flex;
    position: relative;
    margin: 10px;
    color: var(--light-color);
}

.repo-head > h4 {
    font-weight: 700;
}

.repo-head > h6 {
    position: absolute;
    right: 0;
}

.row {
    content: "";
    display: flex;
    clear: both;
    justify-content: center;
    /* background: yellow; */
    color: var(--off-color);
}

.column {
    float: left;
    width: 100%;
    padding: 10px;
    height: 130px; 
    margin: 5px 5px;
    border-radius: 3px;
    border: solid var(--charcoal-color) 1px;
}

.top-info {
    display: flex;
    position: relative;
    margin: 10px;
}

.issue-title {
    color: var(--blue-color);
    font-weight: 700;
}

.subtitle {
    margin: 10px 0;
    font-size: 14px;
}

.status {
    position: absolute;
    right: 10px;
    padding: 3px 10px;
    border-radius: 10px;
    border: solid var(--light-color) 1px;
    font-size: 14px;
    font-weight: 300;
}

.desc-info {
    margin: 10px;
    /* display: flex;
    align-items: flex-start; */
    /* background: rebeccapurple; */
}

#lang {
    margin: 10px 0;
    display: flex;
    align-items: flex-end;
    /* background: rebeccapurple; */
    padding-bottom: 10px;
}

.html {
    width: 14px;
    height: 14px;
    background: #E34C26;
    border-radius: 7px;
    margin-right: 5px;
}

.javascript {
    width: 14px;
    height: 14px;
    background: #F1E05A;
    border-radius: 7px;
    margin-right: 5px; 
}

.language {
    color: white;
    margin-top: 30px;
    position: absolute;
    left: 10px;
}





